
.MMM-MLB .wrapper{
  text-align: justify;
  width: 450px;
}
.MMM-MLB .header {
  color: #fff;
  text-align: center;
}
.MMM-MLB .status {
  color: #aeb3c1;
  font-size: 18px;
}
.MMM-MLB .rhe-header {
  width: 2.5ex;
  color: #c6d9d0;
  text-align: center;
}
.MMM-MLB .rhe-data {
  color: #e4e4e4;
  text-align: center;
}
.MMM-MLB .hometeam {
  color: #e4e4e4;
}
.MMM-MLB .awayteam {
  color: #e4e4e4;
}
.MMM-MLB .logo {
  height: 25px;
  width: 25px;
}
.MMM-MLB .runners {
  width: 75px;
  height: 50px;
}
.MMM-MLB .emblem {
  height: 12%;
  width: 12%;
  margin-right: 15px;
}
.MMM-MLB .xsdata {
  color: #c6d9d0;
  font-size: 15px;
  line-height: 20px;
}
.MMM-MLB .pregame-data {
  text-align: right;
  width: 12ex;
}
.MMM-MLB .postponed-data {
  text-align: right;
  width: 12ex;
}
.MMM-MLB .inprogress-data {
  width: 100px;
  text-align: center;
}
.MMM-MLB .status2 {
}
.MMM-MLB .status3 {
}
.MMM-MLB .status4 {
}
