
.MMM-MLB .wrapper{
  text-align: justify;
  width: 450px;
}
.MMM-MLB .header {
  color: #fff;
  text-align: center;
}
.MMM-MLB .status {
  color: #aeb3c1;
  font-size: 18px;
}
.MMM-MLB .r {
  color: #c6d9d0;
}
.MMM-MLB .h {
  color: #c6d9d0;
}
.MMM-MLB .e {
  color: #c6d9d0;
}
.MMM-MLB .hometeam {
  color: #e4e4e4;
}
.MMM-MLB .awayteam {
  color: #e4e4e4;
}
.MMM-MLB .logo {
	height: 25px;
	width: 25px;
}
.MMM-MLB .emblem {
	height: 12%;
	width: 12%;
	margin-right: 15px;
}
.MMM-MLB .status2 {
	
}
.MMM-MLB .status3 {
	
}
.MMM-MLB .status4 {
	
}
